#controls
{   
    text-align: center;
}

#controls button 
{
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    margin: 25px 2px;
    border: 0;
    border-radius: 4px;
    background: #3c4444;
    text-align: center;
    text-transform: uppercase;
    color: rgb(214, 196, 196);
    font-weight: bold;
}

#controls button:hover 
{
    background: #3c4444;
}

#puzzle div
{
	position: absolute;
	display: block;
	width: 50px;
    height: 50px;
    border-radius:4px;
}

#puzzle
{
    position: relative;
	display: block;
	width: 325px;
    height: 325px;
    margin: 0 auto;
    margin-top: 80px;
}

#puzzle div.number
{
    align-content: center;
    cursor: pointer;
    font: bold 25px/50px Arial;
    text-align: center;
    color: rgb(214, 196, 196);
    background: #3c4444;
}
 
#puzzle div.empty
{
    background: #3c4444;
}

#puzzle.slide div
{
	-webkit-transition: 0.10s left, 0.10s top;
 	transition: 0.10s left, 0.10s top;
}